{# templates/form/my_theme.html.twig #}


{% block _post_form_text_label %}

    <label class="form-label">
    Text
    </label>

{% endblock %}


{% block _post_form_description_label %}

    <label class="form-label">
    Description
    </label>

{% endblock %}

{#
{% block _post_uploadimage_widget %}

  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Upload</span>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile01">
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
</div>

{% endblock %}
#}








