{% extends 'base.html.twig' %}

{% block body %}

<h1>This is the app homepage</h1>
<div>
    <p>Already have an account? Login in.</p>
    <a class="btn btn-dark" href="{{ path('app_login') }}">Go to Login page</a>
</div>

{% endblock %} 