body {
    padding: 15px 30px!important;
    font-family: 'Lato', sans-serif;
    background-color: #fb851eec;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}


li {
    list-style: none;
}

.btn-edit {
    display: block;
    margin: 10px 0;
}

.btn-purple {
    background-color: rgb(176, 39, 255);
    color: #fff;
}

.btn-purple:hover {
    background-color: rgb(131, 34, 187);
    color: #fff;
}



.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 30px;
    background-color: rgba(170, 170, 170, 0.363);
    border-radius: 5px;
}

.feed {
    width: 100%;
  
}

h1 {
    text-align: center;
}

.homepage-heading {
    font-family: 'Flamenco', monospace;
    margin: 25px auto;
    font-size: 60px;
    width: 700px;
    display: block;
}

.element {
    width: 60%;
    margin: 30px auto;

    & > * {
        margin: 7px 0;
    }
}


.form {
    margin: 0 auto;
    width: 50%;
}

.form-label {
   // color: #6e6e6e;
    font-size: 17px;
}


.text-input {
    border: 1px solid rgba(121, 121, 121, 0.507);
    border-radius: 3px;
    display: block;
    padding: 3px 6px;
    margin-bottom: 15px;
}

ul.images {
    padding: 0;
}


// Registration form

.reg-form {
    width: 320px;
    margin-left: 30px;
    & > * {
        margin-bottom: 10px;
    }
}


// Categories page

.categories-manager {
    width: 250px;
    margin: 30px auto;

    .btn {
        margin: 20px 0;
        display: block;
    }
}
